# Normalizacao de fim de linha
* text=auto eol=lf
*.sln text eol=crlf
*.csproj text eol=crlf
*.ps1 text eol=crlf

# Garantir que binarios nao sejam corrompidos
*.jpg binary
*.png binary
*.gif binary
*.ico binary
*.pdf binary
*.dll binary
*.exe binary
*.woff binary
*.woff2 binary
