# .NET
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.doccache
*.suo
*.userprefs
*.tmp
*.log
logs.txt
data/programs.json
.vs/
.vscode/

# Node
node_modules/
**/node_modules/
dist/
**/dist/
.npm/
.cache/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
